<div [@routerTransition]>
  <app-page-header [heading]="'Entities' | translate" [icon]="'fa-address-sitemap'"></app-page-header>
  <form role="form">
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <label for="inputName">Nombre</label>
          <input class="form-control" id="inputName" type="text" disabled="" value="{{detailResponse.mutual.nombre}}">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label for="inputAddress">Dirección</label>
          <input class="form-control" id="inputAddress" type="text" disabled="" value="{{detailResponse.mutual.direccion}}">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="inputPostalCode">Código Postal</label>
          <input class="form-control" id="inputPostalCode" type="text" disabled="" value="{{detailResponse.mutual.codigoPostal}}">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label for="inputPhoneNumber">Teléfono</label>
          <input class="form-control" id="inputPhoneNumber" type="text" disabled="" value="{{detailResponse.mutual.telefono}}">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="inputEmail">E-mail</label>
          <input class="form-control" id="inputEmail" type="text" disabled="" value="{{detailResponse.mutual.email}}">
        </div>
      </div>
    </div>
  </form>
  <br>
  <div *ngIf="detailResponse && detailResponse.success">
    <agm-map [latitude]="initialLatitude" [longitude]="initialLongitude" [zoom]="initialZoom">
        <agm-marker [latitude]="detailResponse.mutual.latitud" [longitude]="detailResponse.mutual.longitud">
          <agm-info-window>
            <strong>{{ detailResponse.mutual.nombre }}</strong>
            <br />
            {{ detailResponse.mutual.direccion }}
          </agm-info-window>
        </agm-marker>
    </agm-map>
  </div>
</div>