<div [@routerTransition]>
  <app-page-header [heading]="'Entities' | translate" [icon]="'fa-address-sitemap'"></app-page-header>
  <div *ngIf="response && response.success">
    <agm-map [latitude]="initialLatitude" [longitude]="initialLongitude" [zoom]="initialZoom">
      <div *ngFor="let cooperative of response.cooperatives">
        <agm-marker [latitude]="cooperative.latitude" [longitude]="cooperative.longitude">
          <agm-info-window>
            <strong>{{ cooperative.name }}</strong>
            <br />
            {{ cooperative.address }}
          </agm-info-window>
        </agm-marker>
      </div>
    </agm-map>
  </div>

  <br />
  <form role="form">
    <div class="card-header">{{ 'Search form' | translate }}</div>
    <div class="form-content">
      <div class="form-group">
        <label class="form-control-label" for="inputName">{{ 'Name' | translate }}</label>
        <input type="text" class="form-control" id="inputName" name="inputName" />
      </div>

      <div class="form-group">
        <label class="form-control-label" for="inputLastName">{{ 'Address' | translate }}</label>
        <input type="text" class="form-control" id="inputLastName" name="inputLastName" />
      </div>

      <div class="form-group">
        <label class="form-control-label" for="inputMail">{{ 'Type' | translate }}</label>
        <input type="email" class="form-control" id="inputMail" name="inputMail" />
      </div>

      <div class="form-group">
          <button class="btn btn-primary" type="button">{{ 'Search' | translate }}</button>
          <button class="btn btn-primary" type="button">{{ 'Clear' | translate }}</button>
        </div>
    </div>
  </form>

  <div class="card-body table-responsive">
    <div *ngIf="listResponse && listResponse.mutuales">
      <table class="card-body table table-hover table-bordered">
        <thead>
          <tr>
            <th>{{ 'Name' | translate }}</th>
            <th>{{ 'Address' | translate }}</th>
            <th>{{ 'Type' | translate }}</th>
            <th>{{ 'City' | translate }}</th>
            <th>{{ 'Department' | translate }}</th>
            <th>{{ 'State' | translate }}</th>
            <th>{{ 'Actions' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr scope="row" *ngFor="let entity of listResponse.mutuales">
            <td>
              {{ entity.nombre }}
            </td>

            <td>
              {{ entity.direccion }}
            </td>

            <td>
              {{ entity.tipo | translate }}
            </td>
            
            <td>
              {{ entity.localidad | translate }}
            </td>

            <td>
              {{ entity.departamento | translate }}
            </td>

            <td>
              Entre Rios
            </td>

            <td>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary" [routerLink]="['/entity-detail', entity.id]">{{ 'View Details' | translate }}</button>
                <button type="button" class="btn btn-secondary">{{ 'Update information' | translate }}</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <ngb-pagination
        size="lg"
        [collectionSize]="listResponse.cantidad"
        [pageSize]="10"
        [(page)]="page"
        [rotate]="true"
        (pageChange)="loadPage($event)"
        [boundaryLinks]="true"
      ></ngb-pagination>

      <div class="card-footer float-right">{{ 'Results quantity' | translate }}: {{ listResponse.cantidad }}</div>
    </div>
  </div>
</div>
