<div [@routerTransition]>
  <app-page-header [heading]="'Entities' | translate" [icon]="'fa-address-sitemap'"></app-page-header>
  <div *ngIf="response && response.success">
    <agm-map [latitude]="initialLatitude" [longitude]="initialLongitude" [zoom]="initialZoom">
      <div *ngFor="let cooperative of response.cooperatives">
        <agm-marker [latitude]="cooperative.latitude" [longitude]="cooperative.longitude">
          <agm-info-window>
            <strong>{{ cooperative.name }}</strong>
            <br />
            {{ cooperative.address }}
          </agm-info-window>
        </agm-marker>
      </div>
    </agm-map>
  </div>
</div>
